project_id = "lbpqmdcmoybuuthzezmj"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
image_transformation = { enabled = true }

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://3ed5dbec-9bf1-4738-8f83-3a0d98bcde4b.lovableproject.com"]
jwt_expiry = 3600

[edge_runtime]
enabled = true

[functions.create-salon-admin]
verify_jwt = true