create or replace function public.handle_new_user()
returns trigger as $$
begin
  -- Se for superadmin, criar sem salon_id
  if new.raw_user_meta_data->>'role' = 'superadmin' then
    insert into public.profiles (id, email, name, role, salon_id)
    values (new.id, new.email, COALESCE(new.raw_user_meta_data->>'name', 'SuperAdmin'), 'superadmin', null);
  -- Se for cliente, criar com salon_id = null
  elsif new.raw_user_meta_data->>'role' = 'cliente' then
    insert into public.profiles (id, email, name, role, salon_id)
    values (new.id, new.email, COALESCE(new.raw_user_meta_data->>'name', 'Cliente'), 'cliente', null);
  -- Para outros roles (admin, profissional), usar o salon_id do metadata
  elsif new.raw_user_meta_data->>'salon_id' is not null then
    insert into public.profiles (id, email, name, role, salon_id)
    values (
      new.id, 
      new.email, 
      COALESCE(new.raw_user_meta_data->>'name', 'Usuário'), 
      (new.raw_user_meta_data->>'role')::user_role,
      (new.raw_user_meta_data->>'salon_id')::uuid
    );
  end if;
  return new;
end;
$$ language plpgsql security definer;
